[Unit]
Description=Reachy restart service
Wants=network-online.target
After=network.target network-online.target
[Service]
PIDFile=/var/run/reachy_restart.pid
ExecStart=/usr/bin/python3 -m reachy_sdk_server.restart_server
Environment="PATH=$PATH:/usr/bin:/home/pierre/.local/bin"
Environment="PYTHONPATH=$PYTHONPATH:/home/pierre/reachy_ws/install/reachy_sdk_server/lib/python3.8/site-packages:/home/pierre/reachy_ws/install/reachy_kinematics/lib/python3.8/site-packages:/home/pierre/reachy_ws/install/reachy_controllers/lib/python3.8/site-packages:/home/pierre/reachy_ws/install/reachy_msgs/lib/python3.8/site-packages:/home/pierre/reachy_ws/install/reachy_focus/lib/python3.8/site-packages:/home/pierre/reachy_ws/install/mobile_base_controllers/lib/python3.8/site-packages:/opt/ros/foxy/lib/python3.8/site-packages"
User=pierre
Group=pierre
Type=simple
[Install]
WantedBy=multi-user.target