[Unit]
Description=Reachy SDK server service
Wants=network-online.target
After=network.target network-online.target
[Service]
PIDFile=/var/run/reachy_sdk_server.pid
ExecStart=/usr/bin/bash /home/nuc/reachy_ws/src/reachy_sdk_server/launch_all.bash
User=nuc
Group=nuc
Type=simple
[Install]
WantedBy=multi-user.target